<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Movie-Match</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" fill="clear" color="light">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-vertical">
    <div class="ion-text-center ion-margin-vertical">
      <ion-avatar class="avatar-preview">
        @if (profileImagePreview) {
          <img [src]="profileImagePreview" alt="Aperçu de la photo" />
        } @else {
          <ion-icon name="person-circle" size="large" style="font-size: 80px; color: #ccc;"></ion-icon>
        }
      </ion-avatar>
      <p class="ion-margin-top">
        <ion-button fill="clear" (click)="selectImage()">
          Choisir une photo
        </ion-button>
      </p>
    </div>
    <ion-avatar class="profile-avatar">
      @if (user?.photoURL) {
        <img [src]="user?.photoURL" alt="Photo de profil" />
      } @else {
        <ion-icon name="person-circle-outline" size="large" style="font-size: 100px; color: #ccc;"></ion-icon>
      }
    </ion-avatar>

    <h2 class="ion-margin-top">
      {{ user?.displayName }}
    </h2>
    <p>{{ user?.email }}</p>

    <ion-button fill="outline" (click)="updateProfilePhoto()" class="ion-margin-top">
      Modifier la photo
    </ion-button>
  </div>
</ion-content>